<!DOCTYPE html>
<html>
  <head>
    <title>Hello World</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>
    <div class="d-flex container-fluid h-100 align-items-center justify-content-center bg-purple">
      <div class="text-white hero">
        <h1>Binar</h1>
        <p>Heroku Deployment using Docker via Gitlab CI/CD</p>
      </div>
    </div>
  </body>
</html>
