body {
  width: 100%;
  height: 100vh;
  font-weight: medium;
}

.bg-purple {
  background: rgb(114, 53, 115);
}

.hero {
  animation: appear 2s;
  font-size: 1.2em;
}

@keyframes appear {
  from {
    font-size: 0em;
    opacity: 0;
  }

  to {
    font-size: 1.2em;
    top: 50%;
    opacity: 1;
  }
}
